# Discord Developer Portal > Bot
DISCORD_TOKEN=

# Discord Developer Portal > General Information
CLIENT_ID=

# Discord server ID. Used to register slash commands quickly.
GUILD_ID=

# Optional command prefix
PREFIX=e!

# Cubixora SMP
MC_HOST=cubixorasmp.play.hosting
MC_JAVA_PORT=25565
MC_BEDROCK_PORT=19132

# Render/Replit web health server
PORT=3000

# Optional protection for Minecraft webhook requests
MC_WEBHOOK_SECRET=