# Discord Developer Portal
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
OWNER_IDS=

# Minecraft
MC_HOST=cubixorasmp.play.hosting
MC_JAVA_PORT=25565
MC_BEDROCK_PORT=19132

# Webhook secret for Minecraft -> Discord events
MC_WEBHOOK_SECRET=

# Replit/Render HTTP health port
PORT=10000